@import 'mixin.scss';

.navbar-white {
	background: #000;
}

.btn {
	cursor: pointer;
	transition: 0.3s;
	&:hover,
	&:active {
		background: #b20012;
	}
}

.hr {
	width: 247px;
	border: 4px solid;
	&--mb-1 {
		margin-bottom: 55px;
		@include phones {
			border: 4px solid;
			width: 220px;
			margin-bottom: 0px;
			margin-left: 50px;
		}
	}

	&--mb-2 {
		margin-bottom: 110px;
		@include laptops {
			margin-bottom: 55px;
			margin-top: 30px;
		}
		@include phones {
			display: none;
		}
	}
}

.hr {
	&--long {
		border: 2px solid #eef0f4;
	}
	&--btm {
		margin-top: 75px;
		margin-bottom: 50px;
		@include phones {
			margin-top: 5px;
		}
	}
}

img {
	max-width: 100%;
	display: block;
}

.btn {
	padding: 0px;
}

.burger {
	margin: 0 auto;
	padding-top: 10px;
	@include phones {
		padding-top: 6px;
		margin-right: 35px;
	}
}

.menu {
	@include phones {
		display: flex;
		justify-content: space-between;
	}
}

nav.navbar.navbar-expand-xl.navbar-white.menu {
	@include phones {
		justify-content: space-between;
	}
}

a.nav-link.menu__link:hover {
	color: #2E75FF;
}

a#defaultDropdown.nav-link:hover {
	color: #45494f; 
	cursor: pointer;
}

button.btn.btn-primary.bilder__button:hover {
	background: #45494f;
}

img.bilder__arr.bilder__arr--lf .ad {
	@include laptops {
		display: none;
	}
}



