@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Regular.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Regular.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto/NotoSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'BBC Reith Sans';
	src: url('../fonts/BBC/BBC-Reith-Sant-bold.eot');
	src: local('☺'), url('../fonts/BBC/BBC-Reith-Sant-bold.woff') format('woff'), url('fonts/BBC/BBC-Reith-Sant-bold.ttf') format('truetype'), url('../fonts/BBC/BBC-Reith-Sant-bold.svg') format('svg');
	font-weight: 700;
}

@font-face {
	font-family: 'BBC Reith Sant';
	src: url('fonts/BBC/BBC-Reith-Sant.eot');
	src: local('☺'), url('fonts/BBC/BBC-Reith-Sant.woff') format('woff'), url('fonts/BBC/BBC-Reith-Sant.ttf') format('truetype'), url('fonts/BBC/BBC-Reith-Sant.svg') format('svg');
	font-weight: 500;
}