@import '../mixin';

.about {
	background: #fbfbfc;
	&__title {
		font-size: 28px;
		font-weight: 500;
		letter-spacing: 4.42px;
		line-height: 40px;
		font-family: 'BBC Reith Sans';
		color: #020303;
		margin-bottom: 40px;
		text-align: center;
		padding-top: 80px;
		@include phones {
			padding-top: 30px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		max-width: 400px;
		width: 100%;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		background: #fff;
		margin: 5px;
		&--mb {
			margin-bottom: 60px;
			@include laptops {
				margin-bottom: 0px;
			}
			@include tablets {
				margin-bottom: 50px;
			}
		}
	}

	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include laptops {
			margin-left: 2%;
		}
		@include phones {
			margin-left: 0px;
		}
	}

	&__text {
		font-size: 19px;
		font-family: 'Noto Sans';
		font-weight: 500;
		color: #45494f;
		max-width: 240px;
	}

	&__img {
		margin: 40px 30px 40px;
		&--mr {
			margin: 50px 30px 50px;
		}
	}
}