*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000; }

body {
  line-height: 1.42; }

a {
  transition: 300ms;
  text-decoration: none; }
  a:hover, a:focus {
    color: #000; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  cursor: pointer;
  transition: 0.3s; }

.btn:hover, .btn:active {
  background: #b20012; }

.hr {
  width: 180px;
  color: #d1d3d4; }

.button--n {
  display: none; }

.avatar {
  display: flex; }
  .avatar__title {
    max-width: 500px;
    margin-bottom: 60px;
    font-size: 20px;
    color: #1652ac;
    font-weight: 700;
    font-family: 'BBC Reith Sans';
    text-transform: uppercase;
    letter-spacing: 2.42px;
    line-height: 40px; }
    @media screen and (max-width: 1200px) {
      .avatar__title {
        margin-bottom: 30px; } }
    @media screen and (max-width: 900px) {
      .avatar__title {
        max-width: 90%;
        margin-right: 5%;
        margin-left: 5%; } }
    @media screen and (max-width: 376px) {
      .avatar__title {
        max-width: 100%;
        text-align: center;
        font-size: 17px;
        margin: 0px 0px 40px 0px; } }
  .avatar__text {
    font-size: 17px;
    line-height: 32px;
    font-family: 'Noto Sans';
    font-weight: 400px;
    max-width: 81%;
    color: #45494F; }
    @media screen and (max-width: 376px) {
      .avatar__text {
        max-width: 100%;
        margin: 0px; } }
    .avatar__text--mb {
      margin-bottom: 50px; }
      @media screen and (max-width: 376px) {
        .avatar__text--mb {
          margin-bottom: 40px; } }
    .avatar__text--pb {
      margin-bottom: 100px; }
      @media screen and (max-width: 1200px) {
        .avatar__text--pb {
          margin-bottom: 20px; } }
      @media screen and (max-width: 376px) {
        .avatar__text--pb {
          margin-bottom: 40px; } }
  .avatar__block {
    margin-left: 150px;
    margin-top: 40px; }
    @media screen and (max-width: 1200px) {
      .avatar__block {
        display: none; } }
    @media screen and (max-width: 376px) {
      .avatar__block {
        margin-top: 0px;
        margin-bottom: 100px; } }
  .avatar__item {
    width: 620px;
    background: linear-gradient(#e66465, #9198e5);
    height: 100px; }
    @media screen and (max-width: 376px) {
      .avatar__item {
        display: none; } }
    @media screen and (max-width: 376px) {
      .avatar__item--ad {
        width: 330px;
        height: 60px;
        background: linear-gradient(#e66465, #9198e5);
        margin-bottom: 40px;
        margin-top: 40px; } }
    .avatar__item--mb {
      margin-bottom: 45px; }
  @media screen and (max-width: 1200px) {
    .avatar {
      flex-direction: column; } }
  @media screen and (max-width: 376px) {
    .avatar {
      flex-direction: column; } }
  @media screen and (max-width: 376px) {
    .avatar__italic {
      font-style: italic; } }
  .avatar__img {
    width: 610px;
    height: 240px;
    margin-left: 135px;
    margin-top: 30px; }
    @media screen and (max-width: 1200px) {
      .avatar__img {
        margin-left: 10px; } }
    @media screen and (max-width: 900px) {
      .avatar__img {
        max-width: 90%;
        margin-right: 5%;
        margin-left: 5%; } }
    @media screen and (max-width: 376px) {
      .avatar__img {
        order: 1;
        max-width: 100%;
        height: 240px;
        margin: 0px 0px 100px 0px;
        padding: 0px; } }
  @media screen and (max-width: 1200px) {
    .avatar__wrapper {
      margin-left: 5%; } }
  @media screen and (max-width: 376px) {
    .avatar__wrapper {
      order: 2; } }
