*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000; }

body {
  line-height: 1.42; }

a {
  transition: 300ms;
  text-decoration: none; }
  a:hover, a:focus {
    color: #000; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  cursor: pointer;
  transition: 0.3s; }

.btn:hover, .btn:active {
  background: #b20012; }

.hr {
  width: 180px;
  color: #d1d3d4; }

.button--n {
  display: none; }

.main {
  display: flex;
  background: #e5e5e5; }
  .main__top {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1200px) {
      .main__top {
        display: flex;
        margin-left: 5%; } }
    @media screen and (max-width: 1200px) {
      .main__top {
        flex-direction: column;
        margin-right: 10%;
        align-items: start; } }
  .main__img {
    margin-left: 150px; }
    @media screen and (max-width: 1200px) {
      .main__img {
        margin-left: 0px;
        width: 50%; } }
    @media screen and (max-width: 900px) {
      .main__img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
    @media screen and (max-width: 376px) {
      .main__img {
        display: none; } }
  .main__bottom {
    display: flex; }
    @media screen and (max-width: 1200px) {
      .main__bottom {
        margin-bottom: 50px; } }
    @media screen and (max-width: 900px) {
      .main__bottom {
        flex-direction: column; } }
    @media screen and (max-width: 376px) {
      .main__bottom {
        flex-direction: column;
        margin-bottom: 0px; } }
  .main__item {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 900px) {
      .main__item {
        margin-right: 5%;
        margin-left: 5%;
        align-items: start;
        order: 1; } }
    @media screen and (max-width: 376px) {
      .main__item {
        margin-bottom: 40px;
        order: 1; } }
  .main__title {
    max-width: 450px;
    color: #1652ac;
    font-weight: bold;
    font-size: 48px;
    font-family: 'BBC Reith Sans';
    margin-bottom: 60px;
    margin-top: 100px;
    line-height: 80px;
    letter-spacing: -0.4px; }
    @media screen and (max-width: 1200px) {
      .main__title {
        margin-top: 20px;
        margin-bottom: 10px; } }
    @media screen and (max-width: 900px) {
      .main__title {
        max-width: 100%;
        font-size: 40px; } }
    @media screen and (max-width: 376px) {
      .main__title {
        box-sizing: container-box;
        font-size: 34px;
        display: flex;
        padding: 0px; } }
  .main__text {
    max-width: 480px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Noto Sans';
    margin-bottom: 70px;
    line-height: 32px;
    letter-spacing: -0.4px; }
    @media screen and (max-width: 1200px) {
      .main__text {
        margin-bottom: 20px; } }
    @media screen and (max-width: 900px) {
      .main__text {
        max-width: 100%; } }
  .main__article {
    font-size: 20px;
    font-weight: bold;
    font-family: 'BBC Reith Sans';
    color: #1652ac;
    margin-bottom: 20px;
    line-height: 40px;
    letter-spacing: 2.42px; }
    @media screen and (max-width: 376px) {
      .main__article {
        font-size: 17px;
        max-width: 240px;
        text-align: center;
        margin-left: 40px;
        line-height: 40px; } }
  .main__subtext {
    max-width: 450px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Noto Sans';
    line-height: 32px;
    color: #45494F; }
    @media screen and (max-width: 900px) {
      .main__subtext {
        max-width: 90%; } }
    @media screen and (max-width: 376px) {
      .main__subtext {
        max-width: 100%; } }
    .main__subtext--mb {
      margin-bottom: 50px; }
      @media screen and (max-width: 376px) {
        .main__subtext--mb {
          margin-bottom: 40px; } }
  .main__bottom-img {
    margin-bottom: 70px; }
    @media screen and (max-width: 1200px) {
      .main__bottom-img {
        width: 50%;
        margin-bottom: 0px; } }
    @media screen and (max-width: 900px) {
      .main__bottom-img {
        order: 2;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
    @media screen and (max-width: 376px) {
      .main__bottom-img {
        margin-bottom: 10px; } }
  .main__adaptive-img {
    display: none; }
    @media screen and (max-width: 376px) {
      .main__adaptive-img {
        display: block;
        width: 350px;
        height: 350px; } }
